$light-green-color: #7ed56f;
$medium-green-color: #55c57a;
$dark-green-color: #28b485;
$white-color: #fff;
$dark-color:#000;
$dark-grey-color: #777;

$color-light-grey-1:#f7f7f7;



$horizontal-gutter: 6rem;
$vertical-gutter:8rem;
$grid-width: 114rem;
